@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "浮生阁";
}
@* <audio controls preload="none">
    <source src="https://qkodo.vfinemusic.com/watermark/6f00def82dd6f37f001/we05a928f07bcebdd638ce028f46893f9.mp3" type="audio/mpeg">
</audio> *@
<div class="page-owner text-ddd p-2">
    <h5>云水雅叙</h5>
    <ul class="text-tz-gray">
        <li>一个爱嘚啵的80后白羊座，一个爱胡思乱想得老男孩，一个不羁放纵爱自由得孤勇者。</li>
        <li>不良爱好甚广：全程马拉松欢乐跑，诚信休闲骑行，50斤轻装徒步，简单搬家轻奢露营，和平扣杀羽毛球，随性比画毛笔书法。</li>
        <li>不专业的工作：天天写bug得软件工程师。</li>
        <li>不咋地的性格：敢怒不敢言写满脸，脑子里演绎了一万遍如何干死对方的画面，却平静的说句没关系，时时刻刻提醒自己，幸福退让原则，不要让不幸的人打破自己幸福的生活。不要和蠢货争辩，那会让自己也变成蠢货。</li>
    </ul>
    <h5 class="mt-4">云庐柴扉</h5>
    <ul class="text-tz-gray">
        <li>哔哩哔哩：<a href="https://space.bilibili.com/511704885" target="_blank">点一下就进去了</a></li>
        <li>记得进去之后，先关注，再看内容，我盯着你呢！</li>
        <li>微信公众号：看下图，扫一扫，关注我。
            <br />
            <img src="~/img/wxpub.png" alt="编城的南墙" class="w-50 float-center rounded-4" />
        </li>
    </ul>
    <h5 class="mt-4">云笺传讯</h5>
    <ul class="text-tz-gray">
        <li>邮箱：terryzou1989@163.com</li>
        <li>电话：这哪能随便透露。</li>
        <li>留言：去【‌絮语阁‌】留言去吧。别瞎说话，分分钟可以delete掉非法留言。记住没，哼！</li>
    </ul>
    <h5 class="mt-4">编城纪元风云录</h5>
    <ul class="text-tz-gray">
        <li>2024年12月20日 微信公众号重新启冻，更名为“编城的南墙”。</li>
        <li>2024年12月13日 整合一下表存储，都放一起了，还是放一起好。</li>
        <li>2024年12月04日 增加“天籁阁”模块，我的歌单，免得自己忘了爱听什么歌。</li>
        <li>2024年12月04日 模块更名（自诩文艺青年，就要文雅的名字，呜呼，快哉）：
            <ul>
                <li>"时光录"更名“逸趣阁”；</li>
                <li>"放映厅"更名“光影阁”；</li>
                <li>"文书阁"更名“文韵阁‌”；</li>
                <li>"留言吧"更名“‌絮语阁‌”；</li>
                <li>"城主传"更名“浮生阁”；</li>
                <li>"互联网"更名“梦链阁”。</li>
            </ul>
        </li>
        <li>2024年12月03日 增加“互联网”模块，旨在收录经典的网站，亦可当作友链。</li>
        <li>2024年11月22日 编城建城。</li>
        <li>编城二期建设中。。。</li>
    </ul>

</div>
