@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MatrixLayout";
    ViewData["Title"] = "广场";
}
<script src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>

<div class="card bg-dark border-1 border-secondary text-light">
    <div class="card-header border-secondary">
        每日访问次数&IP个数（最近30天）
    </div>
    <div class="card-body">
        <div id="chartRequestAndIP" style="width:100%; height:300px"></div>
    </div>
</div>
<div class="card bg-dark border-1 border-secondary text-light  mt-2">
    <div class="card-header border-secondary">
        统计全国IP分布（最近30天）
    </div>
    <div class="card-body">
        <div id="chartProvinceIPCount" style="width:100%; height:600px"></div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-6">
        <div class="card bg-dark border-1 border-secondary text-light">
            <div class="card-header border-secondary">
                统计不同省份累计访问次数（最近30天）
            </div>
            <div class="card-body">
                <div id="chartProvinceRequestTotal" style="width:100%; height:300px"></div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card bg-dark border-1 border-secondary text-light">
            <div class="card-header border-secondary">
                统计不同省份今日访问次数
            </div>
            <div class="card-body">
                <div id="chartProvinceRequestDailyCount" style="width:100%; height:300px"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-6">
        <div class="card bg-dark border-1 border-secondary text-light">
            <div class="card-header border-secondary">
                统计不同国家累计访问次数（最近30天）
            </div>
            <div class="card-body">
                <div id="chartCountryRequestTotal" style="width:100%; height:300px"></div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card bg-dark border-1 border-secondary text-light">
            <div class="card-header border-secondary">
                统计不同国家今日访问次数
            </div>
            <div class="card-body">
                <div id="chartCountryRequestDailyCount" style="width:100%; height:300px"></div>
            </div>
        </div>
    </div>
</div>

<div class="card bg-dark border-1 border-secondary text-light mt-2">
    <div class="card-header border-secondary">
        今日IP访问排名
    </div>
    <div class="card-body">
        <table class="table table-dark table-striped-columns" id="tableIPRequest">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">IP</th>
                    <th scope="col">Country</th>
                    <th scope="col">Province</th>
                    <th scope="col">City</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
    var pageMatrix = function () {
        var endTime=util.GetCurrentTime();
        var startTime=util.GetTimeAddDays(-30);

        var queryCountRequestAndIP=function(){
             apiClient.statistics.count_requestandip(startTime,endTime, function (d) {
                            console.log(d);
                            var xArray=new Array();
                            var yRequestArray=new Array();
                            var yIPArray=new Array();
                            for(var i=0;i<d.length;i++){
                                xArray.push(d[i].f_PartitionKey);
                                yRequestArray.push(d[i].f_RequestCount);
                                yIPArray.push(d[i].f_IPCount);
                            }
                            showChartCountRequestAndIP(xArray,yRequestArray,yIPArray);
                        }, function (err) {
                            alert(err.message);
                        });
        }
        var showChartCountRequestAndIP=function(xArray,yRequestArray,yIPArray){
              var myChart = echarts.init(document.getElementById('chartRequestAndIP'));
            var option = {
            backgroundColor: 'black', // 设置图表背景为黑色
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                top:'5%',
                left: '5%',
                right: '5%',
                bottom: '5%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                data: xArray,
                axisLine: {
                    lineStyle: {
                        color: '#fff' // X轴线颜色
                    }
                },
                axisLabel: {
                    color: '#fff' // X轴标签颜色
                }
            },
            yAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#fff' // Y轴线颜色
                    }
                },
                axisLabel: {
                    color: '#fff' // Y轴标签颜色
                }
            },
            series: [{
                name: '访问次数',
                type: 'line',
                data: yRequestArray
            },
            {
                name: 'IP个数',
                type: 'line',
                data: yIPArray
            }]
        };
            myChart.setOption(option);
        }
        queryCountRequestAndIP();

        var queryCountIPRequest=function(){
            apiClient.statistics.count_iprequest(endTime, function (d) {
                            console.log(d);
                            showTableCountIPRequest(d);
                        }, function (err) {
                            alert(err.message);
                        });
        }
        var showTableCountIPRequest=function(d){
            for(var i=0;i<d.length;i++){
                var item=d[i];
                $("#tableIPRequest tbody").append(`<tr>
                    <th scope="row">${i+1}</th>
                    <td>${item.f_IP}</td>
                    <td>${item.f_Country}</td>
                    <td>${item.f_Province}</td>
                    <td>${item.f_City}</td>
                    <td>${item.f_RequestCount}</td>
                </tr>`);
            }
        }
        queryCountIPRequest();

        var queryCountryRequest=function(){
            apiClient.statistics.count_countryrequest(startTime,endTime,function (d) {
                var tData=new Array();
                var cData=new Array();
                for(var i=0;i<d.length;i++){
                    var item=d[i];
                    tData.push({value:item.f_RequestTotal,name:item.f_Country});
                    cData.push({value:item.f_DailyRequestCount,name:item.f_Country});
                }
                            showChartCountryRequestTotal(tData);
                            showChartCountryRequestDailyCount(cData);
                        }, function (err) {
                            alert(err.message);
                        });
        }
        var showChartCountryRequestTotal=function(data){
            var myChart = echarts.init(document.getElementById('chartCountryRequestTotal'));
                option = {
      tooltip: {
        trigger: 'item'
      },
      legend: {
      type: 'scroll',
      orient: 'vertical',
      right: 10,
      top: 20,
      bottom: 20,
      data: data.legendData,
      textStyle:{
          color:"#fff"
      }
    },
      series: [
        {
          name: '国家',
          type: 'pie',
          radius: '50%',
          data: data,
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };
            myChart.setOption(option);
        }
        var showChartCountryRequestDailyCount=function(data){
            var myChart = echarts.init(document.getElementById('chartCountryRequestDailyCount'));
                option = {
      tooltip: {
        trigger: 'item'
      },
      legend: {
      type: 'scroll',
      orient: 'vertical',
      right: 10,
      top: 20,
      bottom: 20,
      data: data.legendData,
      textStyle:{
          color:"#fff"
      }
    },
      series: [
        {
          name: '省份',
          type: 'pie',
          radius: '50%',
          data: data,
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };
            myChart.setOption(option);
        }
        queryCountryRequest();


         var queryProvinceRequest=function(){
            apiClient.statistics.count_provincerequest("China",startTime,endTime,function (d) {
                var tData=new Array();
                var cData=new Array();
                for(var i=0;i<d.length;i++){
                    var item=d[i];
                    tData.push({value:item.f_RequestTotal,name:dictUtil.getProvinceName(item.f_Province)});
                    cData.push({value:item.f_DailyRequestCount,name:dictUtil.getProvinceName(item.f_Province)});
                }
                            showChartProvinceRequestTotal(tData);
                            showChartProvinceRequestDailyCount(cData);
                        }, function (err) {
                            alert(err.message);
                        });
        }
        var showChartProvinceRequestTotal=function(data){
            var myChart = echarts.init(document.getElementById('chartProvinceRequestTotal'));
                option = {
      tooltip: {
        trigger: 'item'
      },
      legend: {
      type: 'scroll',
      orient: 'vertical',
      right: 10,
      top: 20,
      bottom: 20,
      data: data.legendData,
      textStyle:{
          color:"#fff"
      }
    },
      series: [
        {
          name: '省份',
          type: 'pie',
          radius: '50%',
          data: data,
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };
            myChart.setOption(option);
        }
        var showChartProvinceRequestDailyCount=function(data){
            var myChart = echarts.init(document.getElementById('chartProvinceRequestDailyCount'));
                option = {
      tooltip: {
        trigger: 'item'
      },
      legend: {
      type: 'scroll',
      orient: 'vertical',
      right: 10,
      top: 20,
      bottom: 20,
      data: data.legendData,
      textStyle:{
          color:"#fff"
      }
    },
      series: [
        {
          name: '省份',
          type: 'pie',
          radius: '50%',
          data: data,
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };
            myChart.setOption(option);
        }
        queryProvinceRequest();

         var queryProvinceIP=function(){
            apiClient.statistics.count_provinceip("China",startTime,endTime,function (d) {
                var tData=new Array();
                var maxValue=0;
                for(var i=0;i<d.length;i++){
                    var item=d[i];
                    if(item.f_IPCount>maxValue){
                        maxValue=item.f_IPCount;
                    }
                    tData.push({value:item.f_IPCount,name:dictUtil.getProvinceName(item.f_Province)});
                }
                showChartProvinceIPMap(tData,maxValue);
            }, function (err) {
                alert(err.message);
            });
        }
        var showChartProvinceIPMap=function(data,maxValue){
            console.log(data);
            var myChart = echarts.init(document.getElementById('chartProvinceIPCount'));
               var option = {
            tooltip: {
                trigger: 'item',
                formatter: '{b}: {c}'
            },
             grid: {
                top:'5%',
                left: '5%',
                right: '5%',
                bottom: '5%',
                containLabel: true
            },
            visualMap: {
                min: 0,
                max: maxValue,
                left: 'left',
                top: 'bottom',
                text: ['高', '低'],
                calculable: true,
                inRange: {
                    color: [    
                      '#fee090',
                      '#fdae61',
                      '#f46d43',
                      '#d73027',
                      '#a50026'
                    ]
                  },
            },
            series: [
                {
                    name: '中国人口',
                    type: 'map',
                    mapType: 'china',
                    roam: false,
                    label: {
                        show: true
                    },
                    data: data
                }
            ]
        };

        myChart.setOption(option);
        }
        queryProvinceIP();
    };
    $(function () {
        new pageMatrix();
    });
</script>