@{
    Layout = "_MatrixLayout";
    ViewData["Title"] = "时光录";
    int count = 20;
}
@for (int i = 0; i < count; i++)
{
    if (i % 7 == 0)
    {
        <div class="card bg-dark border-secondary text-light mb-3">
            <div class="card-body">
                <p class="card-text fs-6 mb-1">今天是个好天气，元气满满的去上班！</p>
                <i class="fs-7 text-secondary">2024-11-18 13:14</i>
            </div>
            <div class="card-footer text-end border-secondary">
                <button class="btn btn-sm btn-outline-primary">编辑</button>
                <button class="btn btn-sm btn-outline-danger">删除</button>
            </div>
        </div>
    }
    if (i % 7 == 1)
    {
        <div class="card bg-dark border-secondary text-light mb-3">
            <div class="card-body">
                <p class="card-text fs-6 mb-1">今天是个好天气，元气满满的去上班！</p>
                <div class="clearfix mt-2" style="width:340px">
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                </div>
                <i class="fs-7 text-secondary">2024-11-18 13:14</i>
            </div>
            <div class="card-footer text-end border-secondary">
                <button class="btn btn-sm btn-outline-primary">编辑</button>
                <button class="btn btn-sm btn-outline-danger">删除</button>
            </div>
        </div>
    }
    if (i % 7 == 2)
    {
        <div class="card bg-dark border-secondary text-light mb-3">
            <div class="card-body">
                <p class="card-text fs-6 mb-1">今天是个好天气，元气满满的去上班！</p>
                <div class="clearfix mt-2" style="width:340px">
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:100px;margin:0 0 10px 10px" />
                </div>
                <i class="fs-7 text-secondary">2024-11-18 13:14</i>
            </div>
            <div class="card-footer text-end border-secondary">
                <button class="btn btn-sm btn-outline-primary">编辑</button>
                <button class="btn btn-sm btn-outline-danger">删除</button>
            </div>
        </div>
    }
    if (i % 7 == 3)
    {
        <div class="card bg-dark border-secondary text-light mb-3">
            <div class="card-body">
                <p class="card-text fs-6 mb-1">今天是个好天气，元气满满的去上班！</p>
                <div class="clearfix mt-2" style="width:340px">
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:155px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:155px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:155px;margin:0 0 10px 10px" />
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:155px;margin:0 0 10px 10px" />
                </div>
                <i class="fs-7 text-secondary">2024-11-18 13:14</i>
            </div>
            <div class="card-footer text-end border-secondary">
                <button class="btn btn-sm btn-outline-primary">编辑</button>
                <button class="btn btn-sm btn-outline-danger">删除</button>
            </div>
        </div>
    }
    if (i % 7 == 4)
    {
        <div class="card bg-dark border-secondary text-light mb-3">
            <div class="card-body">
                <p class="card-text fs-6 mb-1">今天是个好天气，元气满满的去上班！今天是个好天气，元气满满的去上班！今天是个好天气，元气满满的去上班！今天是个好天气，元气满满的去上班！今天是个好天气，元气满满的去上班！今天是个好天气，元气满满的去上班！今天是个好天气，元气满满的去上班！</p>
                <div class="clearfix mt-2" style="width:320px">
                    <img src="~/img/myphoto.jpg" class="float-start rounded" style="width:300px;margin:0 0 10px 10px" />
                </div>
                <i class="fs-7 text-secondary">2024-11-18 13:14</i>
            </div>
            <div class="card-footer text-end border-secondary">
                <button class="btn btn-sm btn-outline-primary">编辑</button>
                <button class="btn btn-sm btn-outline-danger">删除</button>
            </div>
        </div>
    }
}
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl ">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
                <h1 class="modal-title fs-5" id="modalFormLabel">编辑</h1>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                  <label for="txtContext" class="form-label">内容</label>
                  <textarea class="form-control bg-dark text-light" id="txtContext" rows="5" placeholder="随便说说此刻的想法，500字以上就去写blog吧！"></textarea>
                </div>
                <div class="input-group mb-3">
                  <input id="txtImgSrc" type="text" class="form-control bg-dark text-light" placeholder="写上图片地址，咱就不存图片了哈" aria-describedby="btnAddImg">
                  <button class="btn btn-outline-secondary border-light text-light" type="button" id="btnAddImg">增加图片</button>
                </div>
                <div id="imgbox">                    
                </div>
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    var pageMatrix = function () {
        const modalFormEl = document.getElementById('modalForm');
        const modalForm = new bootstrap.Modal('#modalForm', {keyboard: false});
        modalFormEl.addEventListener('shown.bs.modal', event => {});
        modalFormEl.addEventListener('hidden.bs.modal', event => {});
        $("#btnCreate").click(function(){
            $("#modalFormLabel").html("新增");
            modalForm.show();
        });
        var imgSrcList=new Array();
        $("#btnAddImg").click(function(){
            if($("#imgbox").children().length>=9){
                alert("图片不超过9张");
                return;
            }
            var imgSrc=$.trim($("#txtImgSrc").val());
            if(imgSrc==""){
                 alert("图片地址不能为空");
                return;
            }
            var imgId=new Date().getTime();
            imgSrcList.push({imgId,imgSrc});
            var img=$("<div class='float-start p-1'><img src='"+imgSrc+"' class='img-thumbnail' style='width:100px;height:100px;' /><br><a href='#' class='text-danger' id='btn"+imgId+"' data-imgId='"+imgId+"'>移除</a></div>");
            
            $("#imgbox").append(img);
            $("#txtImgSrc").val("");
            console.log(imgSrcList);
            $("#btn"+imgId).click(function(){
                var _imgId=$(this).attr("data-imgId");
                var newList=new Array();
                for(var i=0;i<imgSrcList.length;i++){
                    var item=imgSrcList[i];
                    if(_imgId!=item.imgId){
                        newList.push(item);
                    }
                }
                imgSrcList=newList;
                $("#btn"+imgId).parent().remove();
            });
        });
    };
    $(function () {
        new pageMatrix();
    });
</script>

