html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fs-7{
    font-size:0.75rem !important;
}
.text-aaa{
    color:#aaa !important;
}

div::-webkit-scrollbar,
tbody::-webkit-scrollbar,
textarea::-webkit-scrollbar,
section::-webkit-scrollbar,
pre::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
}

div::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
tbody::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #444;
}

div::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
tbody::-webkit-scrollbar-track,
section::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #111;
}

.page-left{
    width:240px;
}
.page-main {
    width:calc(100% - 240px);
}

.page-owner ul li{
    padding:0.5rem 0;
}
