@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="card bg-dark text-light border-secondary mt-3">
    <h5 class="card-header">想对我说点啥？</h5>
    <div class="card-body py-2 pb-3">
        <input type="text" id="txtUserName" class="form-control-sm w-100 bg-dark border-secondary text-light" placeholder="留言之前，报上名来！" />
        <textarea id="txtContent" class="form-control-sm w-100 mt-1 bg-dark text-light" rows="5" placeholder="遵纪守法，别说不该说的，分分钟后台Delete掉！好了，开始你的表演。。。"></textarea>
        <button class="btn btn-primary btn-sm" id="btnSendMessage">点一下，我就收到了</button>
    </div>
</div>

<script>
    var pageMatrix_MessageBox = function () {
        $("#btnSendMessage").click(function () {
            var userName = $.trim($("#txtUserName").val());
            if (userName == null || userName == "") {
                alert("你不自报家门，我怎么知道你是谁？哪怕是个假名字呢？");
                return;
            }
            if (userName.length > 20) {
                alert("你的名字这么长？我记不住啊！");
                return;
            }
            var content = $.trim($("#txtContent").val());
            if (content == null || content == "") {
                alert("多少写两句吧！哪怕是一句“吃了吗”呢");
                return;
            }
            if (content.length > 200) {
                alert("说这么多话？流量不要钱啊？200个字的小作文我还能接受，太多了，我就不看了！哼！");
                return;
            }
            ShiJuValid.showModal(function (v) {
                if (v.uEmail.length > 50) {
                    alert("你的邮箱太长了吧，我记不住啊！换个短的吧！");
                    return;
                }
                apiClient.messages.save(userName, content, v.uEmail, v.shijuId, v.shijuN, function (d) {
                    alert("你的消息我已收到，我会认真阅读你的消息，如果有悄悄话可以给我发邮件哦！");
                    location.reload();
                }, function (err) {
                    alert(err.message);
                });
            });
        });
    };
    $(function () {
        new pageMatrix_MessageBox();
    });
</script>
