@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "城主传";
}
<div class="page-owner text-ddd p-2">
    <h5>编城城主</h5>
    <ul class="text-tz-gray">
        <li>一个爱嘚啵的80后白羊座，一个爱胡思乱想得老男孩，一个不羁放纵爱自由得孤勇者。</li>
        <li>不良爱好甚广：全程马拉松欢乐跑，诚信休闲骑行，50斤轻装徒步，简单搬家轻奢露营，和平扣杀羽毛球，随性比画毛笔书法。</li>
        <li>不专业的工作：天天写bug得软件工程师。</li>
        <li>不咋地的性格：敢怒不敢言写满脸，脑子里演绎了一万遍如何干死对方的画面，却平静的说句没关系，时时刻刻提醒自己，幸福退让原则，不要让不幸的人打破自己幸福的生活。不要和蠢货争辩，那会让自己也变成蠢货。</li>
    </ul>
    <h5 class="mt-4">城主的哔哩哔哩</h5>
    <ul class="text-tz-gray">
        <li>主页地址：<a href="https://space.bilibili.com/511704885" target="_blank">点一下就进去了</a></li>
        <li>记得进去之后，先关注，再看内容，我盯着你呢！</li>
    </ul>
    <h5 class ="mt-4">城主热线</h5>
    <ul class="text-tz-gray">
        <li>邮箱：terryzou1989@163.com</li>
        <li>电话：这哪能随便透露。</li>
        <li>留言：去【留言吧】留言去吧。别瞎说话，分分钟可以delete掉非法留言。记住没，哼！</li>
    </ul>
    <h5 class="mt-4">编城的建城史</h5>
    <ul class="text-tz-gray">
        <li>2024年12月 编城建城。</li>
        <li>编城二期建设中。。。</li>
    </ul>

</div>
