<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <title>@ViewData["Title"] - SouthWall</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SouthWall.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/apis.js" asp-append-version="true"></script>
    <script>
        $(function(){
            com.SetIISRoot("matrix");
            com.CheckLoginStatus();
        });
    </script>
</head>
<body class="bg-black">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom border-secondary box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">编城的内阁</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Matrix" asp-action="Times">时光录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Matrix" asp-action="Videos">放映厅</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Matrix" asp-action="Articles">文书阁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Matrix" asp-action="Messages">留言吧</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Matrix" asp-action="ShiJus">诗句辞典</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Matrix" asp-action="TouXiangs">头像相册</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="pagebody" class="container">
        <main role="main" class="py-3 clearfix h-100 position-relative">
            <h5 class="text-light px-2 fw-bold">@(ViewData["Title"])</h5>
            <button id="btnCreate" class="btn btn-primary position-absolute end-0" style="top:0.5rem">增加</button>
            <hr class="bg-secondary" />
            <div style="height:calc(100% - 50px)" class=" overflow-auto pe-2">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted border-secondary">
        <div class="container">
            &copy; 2024 - 编城的南墙
        </div>
    </footer>
    <script>
        $("#pagebody").height($(window).height() - 117);
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
