@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<footer class="border-top footer text-muted border-secondary position-fixed bottom-0 w-100 bg-black">
    <div class="container py-3">
        &copy; 2024 - 编城的南墙 / 工信部备案号： <a href="https://beian.miit.gov.cn/" target="_blank" class="text-decoration-none">京ICP备14009528号-4</a>
    </div>
</footer>