@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="card bg-dark text-light border-secondary p-3">
    <img src="~/img/myphoto.jpg" style="width:140px;" class="card-img-top rounded-circle mx-auto my-3" alt="..." />
    <div class="card-body text-center">
        <h5 class="card-title">邹学良</h5>
        <p class="card-text text-tz-gray">生命中所有的不期而遇都是最好的安排！</p>
        <a class="btn btn-primary text-center" asp-area="" asp-controller="Blog" asp-action="Owner">想深入了解我？</a>
    </div>
</div>